<div align="center">
    <p> <h1><span class="glyphicon glyphicon-education"></span> Education:</h1></p>
<p>
<h2>Masters</h2>
<h4>University of Massachusetts, Lowell, MA USA</h4>
<h4>Masters in Computer Engineering</h4>
</p>
<p>
<h2>Bachelors</h2>
<h4>Pune University, India</h4>
<h4>Bachelor in Electronics and Computer Engineering</h4>
</p>

</div>
<div align="center" id="project"></div>

<div align="center">
    <a href="app/assets/documents/Jainish-Resume.pdf"><h2><span class="glyphicon glyphicon-download"></span>Download Resume</h2></a>
</div>
<div align="center" class="container">
    <p>
        <h1>Work Experience</h1>
    </p>
    <p>
    <h2>InsightFormation Inc</h2>
    <ul class="list-group text-left">
    


        <li class="list-group-item">Responsible for development and maintenance of one of the company websites</li>
        <li class="list-group-item">Handling the databases(MS SQL) and writing stored procedures.</li>
        <li class="list-group-item">Generated customized reports using Microsoft SQL Server Reporting Services.</li>
        <li class="list-group-item">Used Test-Driven Development with SCRUM Agile methodology.</li>
        <li class="list-group-item">Working on development and maintenance of one of the company websites.</li>
        <li class="list-group-item">Built Balanced Scorecards for clients in the software application.</li>
        <li class="list-group-item">Idea on technologies like Java, JSP, Servlets, and MVC Struts.</li>
    </ul>
    </p>
    
    <p>
    <h2>Fizzible Tech Pvt Ltd</h2>
    <ul class="list-group text-left">
        <li class="list-group-item">Participate in requirement gathering, system business analysis for proposed software.</li>
        <li class="list-group-item">Collaborate with other departments to better define requirements and implementation of software features.</li>
        <li class="list-group-item">Develop new software features and functionality in cooperation with a team.</li>
        <li class="list-group-item">Development and maintenance of the E-commerce website, website traffic growth, website UI</li>

<li class="list-group-item"> Managed the database by creating,deleting and updating records.Setup clusters and database mirroring configuration.Monitored, managed and tuned the cluster for optimal performance. Used SQL to write queries. </li>

        <li class="list-group-item">Experience in testing Client/Server and Web based applications.</li>
      
       
        <li class="list-group-item">Worked with JSON for data exchange between client and server.</li>
        <li class="list-group-item">Defined and developed the application’s presentation layer using HTML5, CSS3, JavaScript and jQuery	Scripting.</li>
        <li class="list-group-item">Assist with all aspects of a project lifecycle.</li>
        <li class="list-group-item">Code and develop features for Network and Hardware Utilization on Client-side.</li>
        <li class="list-group-item">Reported bugs and tracked defects using JIRA. </li>
    </ul>
    </p>
    <p>
    <h2> University of Massachussetts</h2>
    </p>
    <ul class="list-group text-left">
        <li class="list-group-item">Worked with JSON for data exchange between client and server.</li>
        <li class="list-group-item">Contributed to the research project for On-demand Secure circuits and Advanced Reservation Systems (OSCARS) at the Advanced Communication Lab (ACNL) located at Umass Lowell. Currently working on developing front-end using React JS, JQuery, AJAX, HTML, CSS and Spring (JAVA) based on MVC architecture. Designed a RESTful Web Application for querying the bandwidth to OSCARS for advance reservation of the network Built the front end and make it more more interactive and make a network map for all network nodes. Built a visualized graph based on the API response for bandwidth availability. Libraries used were Charts.js, C3.js, D3.js, jqueryUI
</li>
        <li class="list-group-item">Web Master for the Indian Students association at College</li>
        <li class="list-group-item">Manage and upload all lecture Videos to website for student access.</li>
        <li class="list-group-item">Assist with all aspects of a project lifecycle.</li>
        <li class="list-group-item">Handled automated testing with Jasmine</li>
    </ul>
</div>
