
<div class="col-md-5">
    <img src="app/assets/images/my.jpg" class="img-responsive img-thumbnail center-block" >
</div>
<div class="col-md-6 background">
    <div class="transbox">
    <p>
        My name is Anand Dharne. I'm a Software Developer.<br>
        I build modern, simple, responsive cross browser supported applications.
    </p>
    <p>
        As an experienced software engineer with knowledge in JavaScript ( React and Jquery), Node.js, CSS (Bootstrap), RESTful API development and familiarity with Agile software methodologies, JIRA and Scrum, I feel confident that I can prove to be an asset to the engineering team at Medidata. I have experience working in a start-up and learnt how to perform planning and development of Test Plans, Test Strategies and Test scenarios to meet product requirements. I also have experience in every phase of Quality assurance life cycle (QALC) and Software Development Life Cycle (SDLC).  I offer 2 years of development experience, a strong aptitude for learning new technologies, and a proven track record of meeting aggressive goals. My most notable skills include: <br><br>

Software Development and Testing: I have experience working with Full Stack applications. Initially started out with building front-end applications and now gaining experience in working at the back-end. Experienced in testing Client/Server and Web based applications. <br><br>

Fast Paced Environment: I love working in a start-up cultured environment. It has helped me learn a lot and also adapt to different changing environments. <br><br>

Communication Skills: I am comfortable communicating with technical and non-technical employees throughout the company in order to complete projects and achieve organizational goals. I have won 2 awards for my previous start-up by pitching the business plan at different levels. <br> <br>



Github Profile:  <li><b><a href="https://github.com/ananddharne">Github</a></b>

    </p>
    <p>
        My education has provided me with a variety of information systems knowledge and practical skills; primarily in software engineering, Java development, and Continuous Integration / Continuous Delivery, as well as network design, implementation, and administration, information systems security, SQL Server and NoSQL query development, and database management (RIAK, MongoDB, InfluxDB, MySQL). <br>I also have proficient skills with website design, HTML, CSS, and JavaScript development (Angular.js, React, Node.js),  as well as website administration.
    </p>
    </div>
</div>


