<div class="projects">
    <h1 align="center">Projects</h1>
    <ul style="list-style-type:square">
        <li><b>OSCARS ( On demand Secure circuits and advanced reservation system) </b>
            <p>Contributed to the research project for On-demand Secure circuits and Advanced Reservation Systems (OSCARS) at the Advanced Communication Lab (ACNL) located at Umass Lowell.

Currently working on developing front-end using React JS, JQuery, AJAX, HTML, CSS and Spring (JAVA) based on MVC architecture. Designed a RESTful Web Application for querying the bandwidth to OSCARS for advance reservation of the network Built the front end and make it more more interactive and make a network map for all network nodes. Built a visualized graph based on the API response for bandwidth availability. Libraries used were Charts.js, C3.js, D3.js, jqueryUI, 

Github Repositories:  <a href="https //github.com/NetLab/whatif"> What if API </a>  <br>
 
                
            </p>
        </li>

        <li><b>Amateur search engine</b>
            <p>MDeveloped key search engine components such as a web crawler, a database with an index and the links associated with the index.
            Implemented an entry level search engine using these components and the page rank algorithm.

               <br> Language used: Python
            </p>
        </li>
        <li><b>Reliable data transfer between client and server</b>
            <p>Implemented reliable data transfer between a client and server using user datagram protocol. Main aim is to examine data loss if any, in a packet sent while implementing variants of UDP: UDP 2.0, UDP 2.1, UDP 3.0. Program would also check for corrupt acknowledgements, corrupt data and rectify them.
            </p>
        </li>
        <li><b>Vehicle Performance Tester</b>
            <p>Evaluated the performance of the vehicle by testing the parameters of the vehicle such as acceleration, deceleration, mileage and brake testing. 
               The data was analysed by a microcontroller and  sent to the PC using SPI.
               After successful communication, the data was arranged in a tabular format in a word document corresponding to the vehicle number.
               Languages used: C and MATLAB
               Programming environments: Microsoft visual studio, MATLAB
            </p>
        </li>

     <li><b>Network map in React.js</b>
     <p>
    
    Created a network visualization of a network in diffeent parts of the USA. Handled the API for the network and created the visualization in react from scratch. <br>
    Github Repository:  <a href="https://github.com/ananddharne/Network-map-in-React.Js"> Network map </a>  <br>

     </p>

    </ul>
</div>


